@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<html>
<head>

</head>
<body>
    <h1>HOME</h1>
<h3>@Model.Message</h3>

<a href="/teams">Model binding example with sportsing organizations</a>
</body>
</html>
